.wmCanvas {
    position: relative;
    z-index: 0;
}
.wmForecastHour {
    background: black;
}
.wmLabel {
    position: absolute;
    z-index: 10;
    font-family: "Courier New";
    font-size: 16pt;
    font-weight: bold;
    color: white;
    background-color: rgba(64, 64, 64, 0.5);
    padding-left: 0.25em;
    padding-right: 0.25em;
    top: 1.0em;
    left: 1.0em;
    width: fit-content;
}
.wmRenderStatus {
    position: absolute;
    z-index: 11;
    font-family: "Courier New";
    font-size: 14pt;
    font-weight: bold;
    color: white;
    background-color: rgba(128, 128, 128, 0.6);
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.wmTooltip {
    display: none;
    position: absolute;
    /*position: fixed;*/
    overflow: clip;
    overflow-clip-margin: 0px;
    font-family: "Courier New";
    font-size: 14pt;
    font-weight: bold;
    color: white;
    background-color: rgba(128, 128, 128, 0.6);
    padding-left: 0.25em;
    padding-right: 0.25em;
    top: 1.0em;
    right: 1.0em;
    width: fit-content;
    z-index: 13;
}
.wmSliderWrapper {
    position: absolute;
    z-index: 15;
    display: none;
    width: 50%; /* Half the width of the window */
    left: 25%; /* 1/4 from left to center the wrapper */
    bottom: 5.0vh;
    /*margin-bottom: 10.0vh;*/
}
.wmSlider {
    width: 100%; /* Full-width of wrapper*/
    height: 5.0vh; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    /* -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.wmFullscreen {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: rgba(128, 128, 128, 0.6);
    outline: none; /* Remove outline */
    padding: 0.5em;
    bottom: 1.0em;
    right: 1.0em;
    display: none;
    z-index: 11;
    stroke: white;
    fill: none;
    stroke-width: .5em;
}
.wmFullscreen:hover {
    stroke: red;
}
.wmShow {
    display: flex;
}
.wmWaiting {
    color: blue;
}
.wmRendering {
    color: purple;
}
.wmComplete {
    color: red;
}

/* Mouse-over effects */
.wmSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.wmSlider-show {
    display: flex;
}
@media (min-aspect-ratio: 1) {
    /* landscape mode */
    .wmRenderStatus {
	bottom: 1.0em;
	left: 1.0em;
    }
}
@media (max-aspect-ratio: 1) {
    /* portrait mode */
    .wmRenderStatus {
	right: 1.0em;
	top: 1.0em;
    }
}
